*,
*::before *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 62.5%;
  color: black;
  overflow-x: hidden;
}

body {
  font-size: 2rem;
  width: 100%;
}

body {
  background: rgb(135, 135, 133);
  background: linear-gradient(180deg, rgb(22, 66, 60) 0%, rgb(106, 156, 137) 98%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
  color: #fff;
  background-color: rgb(196, 218, 210);
}

.nav__Items a {
  color: white;
  text-decoration: none;
  padding: 3rem;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.aboutme__title {
  display: flex;
  justify-content: center;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact__items {
  display: flex;
  justify-content: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.intro {
  margin-top: 15rem;
  display: flex;
  justify-content: left;
  flex-direction: row;
  color: white;
  padding-left: 3rem;
  height: 80vh;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.introVisible {
  opacity: 1;
  transform: translateY(0);
}

.introText {
  width: 50%;
}

.introTitle {
  font-size: 8rem;
}

.introSubTitle {
  font-size: 4rem;
}

.introDesc {
  font-size: 3rem;
}

.introImage {
  display: flex;
  justify-content: center;
  width: 50%;
}

.introImg {
  object-fit: cover;
  width: auto;
  height: 30rem;
}

.projects__Title {
  color: white;
  display: flex;
  justify-content: center;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.card {
  display: flex;
  height: 80%;
  background-color: #C4DAD2;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 16px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
  color: black;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 5rem;
  transition: box-shadow 0.3s ease in ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 15px rgba(0, 0, 0, 0.2);
}

.cardTitle {
  text-decoration: none;
  color: black;
  font-size: 3rem;
}

.card hr {
  display: block;
  clear: both;
  width: 96%;
  background-color: #000000;
  height: 1px;
}

.cardImage {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.cardLanguages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.cardLanguages > p {
  border: 0.1rem solid #888;
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
}

.cardButton {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10rem;
  height: 5rem;
}

.cardButtonText {
  text-decoration: none;
  color: white;
}

.cardDesc {
  font-size: 2rem;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: 0.75rem 1.5rem;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  background-color: rgb(22, 66, 60);
  padding: 2rem;
  color: #ffffff;
  text-align: center;
  width: 100%;
}

.footerTitle {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(106, 156, 137);
}

.footerItems {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.footerItems > a {
  text-decoration: none;
  color: rgb(135, 135, 133);
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footerItems > a:hover {
  color: rgb(106, 156, 137);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  width: 100%;
}

.aboutVisible {
  opacity: 1;
  transform: translateY(0);
}

.aboutTitle {
  font-size: 4rem;
}

.aboutParagraphs {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 2rem;
  gap: 3rem;
  height: auto;
}

.aboutParaTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-cloud {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 2.5rem;
  background-color: #C4DAD2;
  margin-top: 0.8rem;
}

/*# sourceMappingURL=style.css.map */
