html {
    scroll-behavior: smooth; /* Smooth scrolling effect */
    
}

body{
    background: rgb(135, 135, 133);
    background: linear-gradient(180deg, rgba(22, 66, 60, 0.9) 0%, rgba(106, 156, 137, 0.9) 98%);
}