.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    opacity:0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    width:100%;
}


.aboutVisible{
    opacity: 1;
  transform: translateY(0);
}



.aboutTitle{
    font-size: 4rem;
}

.aboutParagraphs{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding:2rem;
    gap:3rem;
    height:auto;
}



.aboutParaTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

