header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    color: #fff;
    background-color: rgb(196, 218, 210);
   
}

.nav__Items a {
    color: white;
    text-decoration: none;
    padding: 3rem;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}