header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    color: #fff;
    background-color: rgb(22, 66, 60); 

}

.nav__Items > a {
    text-decoration: none;
    color: rgb(135, 135, 133);
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 1.3s ease;
    padding:3rem;
    font-size:2.2rem;
}

.nav__Items > a:hover {
    text-decoration: none;
    color: rgb(106, 156, 137); ;
    font-size:3rem;
    font-weight: bold;
    transition: all 1.3s ease;
}

.logo {
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(135, 135, 133);
}

@media (max-width: 800px) {
    
    .nav__Items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:2rem;
    }
}