.intro{
    margin-top:15rem;
    display:flex;
    justify-content: left;
    flex-direction: row;
    color:white;
    padding-left:3rem;
}

.introText{
    width:50%;
}

.introImage{
    width:50%;
    display: flex;
    justify-content: center;
}